<ion-content>
  <div class="main_content_div">
    <div class="margin_header" *ngIf="plt == 'ios'"></div>
    <div class="header_div">
      <div>
      </div>
      <div class="end_div">
        <ion-button size="small" fill="clear">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="goToNewChat()" size="small" fill="clear">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-button>
        <div class="user_div bg_image" [style.backgroundImage]="'url(assets/imgs/users/user20.jpg)'"
          (click)="openProfileModel()"></div>
      </div>
    </div>
    <!--
    <div class="white_div">
      <div class="card_div" *ngFor="let item of users" (click)="goToChats">
        <div class="user_back bg_image" [style.backgroundImage]="'url( '+ item.user+' )'"></div>
        <div class="user_detail">
          <ion-label class="username">{{item.username}}</ion-label>
          <ion-label class="msg">Hello !</ion-label>
          <ion-label class="msg">Hello2 !</ion-label>
        </div>
      </div>
    </div>
    -->
    <div class="white_div">
      <!--  <div class="card_div" *ngFor="let item of users" (click)="goToChats()"> -->
        <div class="card_div" *ngFor="let item of users" (click)="goToChats(item.user_id)">
        <img class="user_back bg_image" src="../../../assets/imgs/perfil.jpg"/>
        <div class="user_detail">
          <ion-label class="username">{{item.nombre}}</ion-label>
          <ion-label class="msg">{{item.apellido_p}}</ion-label>
          <div class="container-login100-form-btn">
						<!--<ion-button color="success" (click)="goToHome()">Iniciar Sesión</ion-button>-->
					</div>
        </div>
      </div>
    </div>

  </div>
</ion-content>